<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Portfolio Assignmnet</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p> 
    The purpose of this website is to use OAuth 2.0 to display a JWT for someone to use in Postman requests to my API.
    </p>
    <p>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{client_id}}&redirect_uri=https://davisk8-portfolio-assignment.wn.r.appspot.com/userinfo&scope=email%20openid%20profile&state={{client_state}}">Visit OAuth 2.0 Endpoint for Authentication</a>
    </p>
    <p>
    davisk8@oregonstate.edu :: CS493 :: Cloud Application Development :: Spring 2020 :: Portfolio Assignment      
    </p>
  </body>
</html>
